svg {
  background-color: hsl(30,20%,95%);
}
path {
  stroke-width: 3;
  stroke: hotpink;
  fill: rgba(0,0,0,0);
}
text {
  font: bold 14px monospace;
  text-anchor: middle;
  white-space: pre;
}
text.diagram-text {
  font-size: 12px;
}
text.diagram-arrow {
  font-size: 16px;
}
text.label {
  text-anchor: start;
}
text.comment {
  font: italic 12px monospace;
}
g.non-terminal text {
  /*font-style: italic;*/
}
.literal rect {
  fill: hsl(254, 83%, 79%);
}
rect {
  stroke-width: 3;
  stroke: black;
  fill: hsl(120,100%,90%);
}
rect.group-box {
  stroke: gray;
  stroke-dasharray: 10 5;
  fill: none;
}
path.diagram-text {
  stroke-width: 3;
  stroke: black;
  fill: white;
  cursor: help;
}
.decision path {
  fill: #ccc;
}
g.diagram-text:hover path.diagram-text {
  fill: #eee;
}
